.nav-link:hover {
    color: rgb(244, 71, 58) !important;
}

.default {
    border-color: white;
    color: white;
    border-radius: 0%;
}

.default:hover {
    background-color: transparent !important;
    border-color: currentColor !important;
}